body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: black;
}

.container {

    margin-left: 2em;
    margin-right: 30em;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #ffffff;
}


.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
        -5px -5px 8px #ffff;
}

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
        inset -5px -5px 8px #fff;
    background: #fff;
}

.display #screen {
    margin-bottom: 1em;
    width: auto;
    height: 40px;
    font-size: 35px;
    font-weight: 500;
    outline:#cbced1;

    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;
}

#eval {
    background: green;
    color: #fff;
    box-shadow: inset 5px 5px 8px greenyellow,
        inset -5px -5px 8px greenyellow;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px green,
        inset -5px -5px 8px green;
}

#ac {
    background: blue;
    color:#fff
}

#ac:hover {
    box-shadow: inset 5px 5px 8px skyblue,
        inset -5px -5px 8px skyblue;
}

#ce {
    background: red;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px pink,
        inset -5px -5px 8px pink;
}
#heads{
    color: white;
}
#para{
    color: white;
}
#status{
    color:aliceblue;
    margin-top: 30em;
}
#status{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#para{
    color: aliceblue;
    margin-left: 150px;
    
}
#paratop{
    color: #cbced1;
    margin-bottom: 25em;
    font-weight: 600;
}
#para1{
    color:#ffffff;
    margin-left:120px;
    font-weight: 600;
}